<p id="notice"><%= notice %></p>

  <div class="show collection">
    <a href="#!" class="collection-item"><span class="badge"><%= @cliente.nome %></span>Nome</a>
    <a href="#!" class="collection-item"><span class="badge"><%= @cliente.cpf %></span>CPF</a>
    <a href="#!" class="collection-item"><span class="badge"><%= @cliente.email %></span>Email</a>
    <a href="#!" class="collection-item"><span class="badge"><%= @cliente.endereco %></span>Endereço</a>
  </div>


<%= render 'action', page: 'show', cliente: @cliente%>