<div style="width: 100%;">
  <div class="sign_in">


    <div style="width: 100%;">
      <div class="align-center devise-error">
          <%= devise_error_messages! %>
      </div>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

      <h4>Edit <%= resource_name.to_s.humanize %></h4>

      <div class="form collection">
        <a class="collection-item" style="height: 70px;"><span class="span-form-field badge">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %></span>
          <div style="width: 25px;">Email</div>
        </a>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <a class="collection-item" style="height: 70px;"><span class="span-form-field badge">
            <div><%= resource.unconfirmed_email %></div></span>
            <div style="width: 25px;">Currently waiting confirmation for: </div>
          </a>
        <% end %>  
         
        <a class="collection-item" style="height: 70px;"><span class="span-form-field badge">
          <%= f.password_field :password, autocomplete: "off", placeholder: 'Leave blank if you dont want to change it' %>
          </span>
          <div style="width: 25px;">Password</div>
        </a> 
        <a class="collection-item" style="height: 70px;"><span class="span-form-field badge">
          <%= f.password_field :password_confirmation, autocomplete: "off" %> </span>
          <div style="width: 25px;">Password Confirmation</div>
        </a> 
        <a class="collection-item" style="height: 70px;"><span class="span-form-field badge">
          <%= f.password_field :current_password, autocomplete: "off", placeholder: 'We need your current password' %> </span>
          <div style="width: 25px;">Current Confirmation</div>
        </a> 
      </div>




      <div class="waves-effect waves-light btn">
        <%= f.submit "Update" %>
      </div>
  </div>
  <% end %> 
</div>



<footer class="page-footer" id="footer-custom">
  <div class="footer-copyright">
    <div class="container">
      <div style="width: 100%;">
      <div style="left: 0;">
        <%= link_to "Back", :back, class: 'waves-effect waves-light btn'  %>
        <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'waves-effect waves-light btn'  %>
      </div>
  </div>
    </div>
  </div>
</footer> 