

<div style="width: 100%;">
  <div class="sign_in">

    <h4>Log in</h4>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

<!--
      <%# if devise_mapping.rememberable? %>
        <div class="field">
       
          <%= f.label :remember_me %>
          <%= f.check_box :remember_me %>  
        </div>
      <%# end %>
-->

      <div class="waves-effect waves-light btn">
        <%= f.submit "Log in" %>
      </div>  

    <% end %>
  </div>
</div>

<div class="link-devise">
  <div class="sign_in">
  <%= render "devise/shared/links" %>
  </div>
</div>


