<!DOCTYPE html>
<html>
  <head>
    <title>SistemaFinanceiro</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
            
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="light-blue lighten-1" role="navigation" id="navbar">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><!-- LOGO --></a>

      <% if user_signed_in? %>
        Logado como: <strong><%= current_user.email %></strong>.
        <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Registrar-se", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>

      <ul class="right hide-on-med-and-down ">
        <li id="cliente"><a href="/clientes"> <i class="material-icons">person_outline</i></a></li>
      </ul>


      <ul id="nav-mobile" class="sidenav">
        <li><a href="/">Navbar Link</a></li>
      </ul>

      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div style="height: 1px; margin-top: 65px;"></div>

  <div style="width: 100%;">
    <div class="align-center" style="width: 20%;">
      <p class="notice" style="color: red;"><%= notice %></p>
      <p class="alert" style="color: red;"><%= alert %></p>
    </div>
  </div>

  <p class="navbar-text pull-right">
	

  <%= yield %>


<!--
  <footer class="page-footer" id="footer-custom">
   
    <div class="footer-copyright">
      <div class="container" style="text-align: center;">
        Felipe Monteiro
        © Copyright 
      </div>
    </div>
  </footer> 
-->
  </body>
</html>
